<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<meta name="msapplication-config"
	content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
	
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="../static/js/script.js" th:src="@{/js/register.js}"></script> 




<title>Admin Panel - Add A New Employee</title>

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">&uarr;Top</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Admin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Placeholder</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Employees</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#">Add a New Employee</a>
						<a class="dropdown-item" href="/admin" th:href="@{/admin}">View All Employees</a>
						<a class="dropdown-item" href="#">Placeholder</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
			<div>
				<a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>

	</nav>

	<main role="main" class="container">
		<div class="starter-template" style="margin-top: 100px">
			<div class="col-sm-6 col-md-6" th:if="${newEmployee}">
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<i class="fa fa-check"></i> <strong>Success Message</strong>
					<hr class="message-inner-separator">
					<p>You successfully add a new employee.</p>
				</div>
		    </div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<h4>Add a new employee</h4>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form name="form" action="#" th:action="@{/admin/newEmployee}" method="post">
								<div class="form-group row">
									<label for="username" class="col-4 col-form-label">Name*</label>
									<div class="col-8">
										<input id="name" name="name" placeholder="Name" class="form-control here" required="required" type="text">
									</div>
								</div>
								<div class="input-group form-group" th:if="${emailExist}">
									<div style="color:red;"> 
										Email exists. Please check or use other Email.
									</div>
								</div>
								<div class="form-group row">
									<label for="email" class="col-4 col-form-label">Email*</label>
									<div class="col-8">
										<input id="email" name="email" placeholder="Email" required="required" class="form-control here" type="text" onkeyup = emailCheck()>
									</div>
								</div>
								<div class="input-group form-group">
									<div style="color:red;" id="confirmMessage"></div>
								</div>
								<div class="form-group row">
									<label for="name" class="col-4 col-form-label">Title*</label>
									<div class="col-8">
										<input id="title" name="title" placeholder="Title" class="form-control here" type="text" required="required">
									</div>
								</div>
								<div class="form-group row">
									<label for="lastname" class="col-4 col-form-label">Services*</label>
									<div class="col-8">
										<input id="services" name="services" placeholder="Services" class="form-control here" type="text" required="required">
									</div>
								</div>
								<div class="form-group row">
									<label for="website" class="col-4 col-form-label">Phone*</label>
									<div class="col-8">
										<input id="phone" name="phone" placeholder="Phone" class="form-control here" type="text" required="required">
									</div>
								</div>
								<div class="form-group row">
									<label for="website" class="col-4 col-form-label">Description*</label>
									<div class="col-8">
										<textarea class="form-control here" id="dscr" name="dscr" rows="3" placeholder="Give a short description of employee." required="required"></textarea>
									</div>
								</div>
								<div class="form-group row">
									<label for="pass" class="col-4 col-form-label">Initial Password*</label>
									<div class="col-8">
										<input id="password" name="password" placeholder="Initial Password" class="form-control here" required="required" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label for="roleAdmin" class="col-4 col-form-label">Role</label>
									<div class="form-check col-8">
									    <input type="checkbox" class="form-check-input" id="roleAdmin" name="roleAdmin">
									    <label class="form-check-label" for="roleAdmin">Give Admin Permission?</label>
									</div>
								</div>
								<div class="form-group row">
									<div class="offset-4 col-8">
										<button name="submit" type="submit" class="btn btn-dark my-2 my-sm-0">Add an Employee</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>


	</main>
</body>

</html>
