<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<meta name="msapplication-config"
	content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>

<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<title>Home Page</title>

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">&uarr;Top</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault" th:if="${admin}">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Admin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Placeholder</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work Schedule</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#" th:href="@{/schedule}">Manage Work Schedule</a>
						<a class="dropdown-item" href="#">Placeholder</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Employees</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#" th:href="@{/admin/newEmployee}">Add a New Employee</a>
						<a class="dropdown-item" href="/admin" th:href="@{/admin}">View All Employees</a>
						<a class="dropdown-item" href="#">Placeholder</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
			<div>
				<a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarsExampleDefault" th:if="${employee}">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Employee</a>
				</li>
				<li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Placeholder</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work Schedule</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#" th:href="@{/schedule}">Manage Work Schedule</a>
						<a class="dropdown-item" href="#">Placeholder</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
			<div>
				<a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarsExampleDefault" th:if="${customer}">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Customer</a>
				</li>
				<li class="nav-item"><a class="nav-link disabled" href="#"
					tabindex="-1" aria-disabled="true">Placeholder</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="dropdown01"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Placeholder</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#">Placeholder</a> <a
							class="dropdown-item" href="#">Placeholder</a> <a
							class="dropdown-item" href="#">Placeholder</a>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
			<div>
				<a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>
	</nav>
	
	<main role="main" class="container">
		<div class="starter-template" style="margin-top: 100px">
			<div class="bd-placeholder-img">
				<h1>Find All Your Appointment here!</h1>
				<br>Hello [[${name}]],<br> 
				<p class="lead">If you want to modify your appointment, please click "Edit"</p>
				<div>
		    		<table class="table" style="background-color: white">
		    			<thead class="thead-dark">
		    			<tr>
							<th scope="col">ID</th>
							<th scope="col" width="200">Date</th>
							<th scope="col">Time</th>
							<th scope="col" width="200">Note</th>
							<th scope="col" width="150"></th>
		    			</tr>
		    			<tr th:each= "app : ${appList}">
		    				<td th:text="${app.id}">id</td>
		    				<td th:text="${app.date}">date</td>
		    				<td th:text="${app.time}">time</td>
		    				<td th:text="${app.note}">note</td>
		    				<td><a th:href="@{/user/editApp/}+${app.id}">Edit</a></td>
		    			</tr>
		    		</table>
		    		<div th:if="${editApp != null}">
			    		<form method="post" th:action="@{/user/changeAppointment}" th:object="${editApp}" style="width: 500px">
							<div class="form-group">
								<input type="hidden" name="id" th:field="*{id}" />
							</div>
							<div class="form-group">
								<label for="date">Date: </label>
								<input type="date" class="form-control" id="date" name="date" th:field="*{date}" />
							</div>
							<div class="form-group">
								<label for="time">Time: </label> 
								<input type="time" class="form-control"  id="time" name="time" th:field="*{time}" />
							</div>
							<div class="form-group">
								<label for="note">Note: </label> 
								<textarea rows="4" cols="50" class="form-control"  id="note" placeholder="Tell me something I should know before you come. ^-^"name="note" th:field="*{note}"></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-dark mb-2">Submit</button>
							</div>
						</form>
		    		</div>
		    	</div>
				
				
			</div>
		</div>
	</main>
</body>

</html>
