<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<meta name="msapplication-config"
	content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 

<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	
	<script src="../static/js/admin.js" th:src="@{/js/admin.js}"></script> 
<title>Schedule List</title>

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">&uarr;Top</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault" th:if="${admin}">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Admin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Placeholder</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work Schedule</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#" th:href="@{/schedule}">Manage Work Schedule</a>
						<a class="dropdown-item" href="#">Placeholder</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Employees</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#" th:href="@{/admin/newEmployee}">Add a New Employee</a>
						<a class="dropdown-item" href="/admin" th:href="@{/admin}">View All Employees</a>
						<a class="dropdown-item" href="#">Placeholder</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
			<div>
				<a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarsExampleDefault" th:if="${employee}">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Employee</a>
				</li>
				<li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Placeholder</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work Schedule</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#" th:href="@{/schedule}">Manage Work Schedule</a>
						<a class="dropdown-item" href="#">Placeholder</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
			<div>
				<a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		
	</nav>
	
	<main role="main" class="container">
		<div class="starter-template" style="margin-top: 100px"><div class="col-sm-6 col-md-6" th:if="${employeeEdited}">
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<i class="fa fa-check"></i> <strong>Success Message</strong>
				<hr class="message-inner-separator">
				<p>The employee has been updated successfully.</p>
				</div>
		    </div>
		    <form action="#"  method="post" th:action="@{/addSchedule}">
		    	<div class="form-row">
		    		<div class="form-group col-md-4">
		    			<label for="date">Work Date</label>
      					<input type="date" class="form-control" name="workDate" id="workDate" required>
		    		</div>
		    		<div class="form-group col-md-4">
		    			<label for="date">Start Work Time</label>
      					<input type="time" class="form-control" name="startWorkTime" id="startWrokTime" value="09:00" min="09:00" max="19:00" step="300" required>
		    		</div>
		    		<div class="form-group col-md-4">
		    			<label for="date">End Work Time</label>
      					<input type="time" class="form-control" name="endWorkTime" id="endWrokTime" value="10:00" min="10:00" max="20:00" step="300" required><p>
      					<input type="submit" class="btn btn-secondary btn-sm pull-right" value="Add Schedule to List">
		    		</div>
		    	</div>
		    	
		    </form>
			<div class="row">
        		<div class="col-md-12">
        			<h4>Schedule List</h4>
        			<a href="#" th:href="@{/schedule/all}">All Work Schedules </a>|
        			<a href="#" th:href="@{/schedule/past}"> Passed Schedules </a>|
        			<a href="#" th:href="@{/schedule}"> Effective Schedules</a>
        			<br>
        			<div class="table-responsive">
						<table id="mytable" class="table table-bordred table-striped">
                   			<thead>
                   				<th>Work Date</th>
                    			<th>Day of Week</th>
                    			<th>Start Time</th>
                     			<th>End Time</th>
                       			<th>Delete</th>
                   			</thead>
    						<tbody>
							    <tr th:each="s : ${scheduleList}">
							    <td th:text="${s.workDate}">2020-10-1</td>
							    <td th:text="${s.dayOfWeek}">2020-10-1</td>
							    <td th:text="${s.startWorkTime}">9:00</td>
							    <td th:text="${s.endWorkTime}">17:00</td>
							    <td><a class="btn btn-danger btn-sm" th:href="@{/deleteSchedule/}+${s.id}"><i class="fa fa-trash"></i></a></td>
							    </tr>
    						</tbody>
						</table>    
            		</div>
            		<div id="holder"></div>
        		</div>
			</div>
		</div>


	<div class="modal fade" id="editModal" role="dialog" th:fragment="editModal" th:if="${editEmployee}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit Employee (Not working yet!!!!!)</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<form method="post" th:action="@{/admin/doEditEmployee}" th:object="${editEmployee}">
						<input class="form-control" type="hidden" name="id" th:field="*{id}" />
						<div class="form-group">
							<h6>Email (Cannot be changed)</h6>
							<p th:text="${editEmployee.account.email}"></p>
						</div>
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="name" name="name" th:field="*{name}" />
						</div>
						<div class="form-group">
							<label for="title">Title</label>
							<input type="text" class="form-control" id="title" name="title" th:field="*{title}" />
						</div>
						<div class="form-group">
							<label for="phone">Phone</label>
							<input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" />
						</div>
						<div class="form-group">
							<label for="dscr">Description</label>
							<textarea rows="2" class="form-control" id="dscr" name="dscr" th:field="*{dscr}" /></textarea>
						</div>
						<div class="form-group">
							<div class="form-check col-8">
								<input type="checkbox" class="form-check-input" id="enabledEmployee" name="enabled" th:field="*{enabled}">
								<label class="form-check-label" for="enabledEmployee">Enabled?</label>
							</div>
						</div>
						<div class="form-group" th:if="${editEmployee.enabled}">
							<div class="form-check col-8">
								<input type="checkbox" class="form-check-input" id="enabledEmployee" name="roleAdmin" th:if="${editEmployee.enabled}" th:field="*{account.admin}">
								<label class="form-check-label" for="enabledEmployee">Admin Privilege?</label>
							</div>
						</div>
						<div class="modal-footer ">
							<button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><i class="fa fa-check-circle"></i> Update</button>
						</div>
					</form>
					
				</div>
			</div>
			<!-- /.modal-content --> 
		</div>
	<!-- /.modal-dialog --> 
	</div>
    
    
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" th:fragment="deleteModal" th:if="${deleteEmployee}">
    	<div class="modal-dialog">
    		<div class="modal-content">
          		<div class="modal-header">
        			<h4 class="modal-title custom_align" id="Heading">Delete (Not working yet!!!)</h4>
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
      			</div>
          		<div class="modal-body">
			       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>Are you sure you want to delete <b th:text="${deleteEmployee.name}"></b>?</div>
			       <ul>
			       	<li>After delete, all appointments, services and other records related to this employee will be gone permanently, and this is no way to get them back.</li>
			       	<li>If this employee is no longer working here, you can deactivate this employee. All records related to this employee will still keep in database.</li>
			       </ul>
      			</div>
		        <div class="modal-footer ">
			        <a class="btn btn-success" th:href="@{/admin/doDeleteEmployee/}+${deleteEmployee.id}"><i class="fa fa-check-circle"></i> Yes， I want to delete this employee!</a>
			        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> No</button>
		      	</div>
        	</div>
    		<!-- /.modal-content --> 
  		</div>
      	<!-- /.modal-dialog -->  
      </div>
    </main>
</body>

</html>
