<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration</title>
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="/css/register.css">
	<script src="../static/js/script.js" th:src="@{/js/register.js}"></script> 
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Register Now!</h3>
			</div>
			<div class="card-body">
				<form name="form" action="#" th:action="@{/register}" method="post" onsubmit="return verify()">
					<div class="input-group form-group confirmMessage" th:if="${emailExist}">
						<div style="color:red;"> 
							Email exists. 
						</div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input required type="email" class="form-control" id="email" name="email" autofocus="autofocus" placeholder="Email" onkeyup = emailCheck()>
					</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input required type="text" class="form-control" id="name" name="name" autofocus="autofocus" placeholder="Name">
							
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-phone"></i></span>
							</div>
							<input required type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input required type="password" class="form-control" id="password" name="password" placeholder="Password">
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input required type="password" class="form-control" id="verifyPassword" name="verifyPassword" placeholder="Repeat Password" onkeyup="checkPass(); return false;">
						</div>
						<div id="confirmMessage" class="confirmMessage" ></div>
						<div id="passworderror" class="input-group form-group alert">
						</div>
						<div id="emailerror" class="input-group form-group alert">
						</div> 
						<div class="form-group">
							<input type="submit" name="signup-submit" id="signup-submit" value="Sign Up" class="btn float-right login_btn">
						</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Already have an account?<a href="@{/login}">Sign In</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>