.pricingTable{
    text-align: center;
    background: #009999;
    padding-top: 5px;
    transition: all 0.5s ease-in-out 0s;
}
.pricingTable > .pricingTable-header{
    color:#fff;
    background: #202020;
    height: 190px;
    position: relative;
    transition: all 0.5s ease 0s;
}
.pricingTable > .pricingTable-header:after{
    content: "";
    border-bottom: 40px solid #009999;
    border-left: 263px solid transparent;
    position: absolute;
    right:0px;
    bottom: 0px;
}
.pricingTable:hover .pricingTable-header{
    height: 230px;
    transition: all 0.5s ease 0s;
}
.pricingTable-header > .heading{
    display: block;
    padding: 20px 0;
}
.pricingTable-header > .price-value{
    display: block;
    font-size: 60px;
    line-height: 60px;
}
.pricingTable-header > .price-value > .mo{
    font-size: 14px;
    display: block;
    line-height: 0px;
}
.pricingTable-header > .price-value > .currency{
    font-size: 24px;
    margin-right: 4px;
    position: relative;
    bottom:30px;
}
.pricingTable > .pricingContent{
    color:#fff
}
.pricingTable > .pricingContent > ul{
    list-style: none;
    padding: 0;
}
.pricingTable > .pricingContent > ul > li{
    padding: 15px 0;
    border-bottom: 1px solid #fff;
}
.pricingTable > .pricingContent > ul > li:last-child{
    border: 0px none;
}
.pricingTable-sign-up{
    padding: 30px 0;
}
.pricingTable-sign-up > .btn{
    width: 80%;
    margin: 0 auto;
    background: #273238;
    border:2px solid #fff;
    color:#fff;
    padding: 15px 12px;
}
.pricingTable-sign-up > .btn:hover{
    opacity: 0.9;
}
@media screen and (max-width: 1200px){
    .pricingTable > .pricingTable-header:after{
        border-left: 215px solid transparent;
    }
}
@media screen and (max-width: 990px){
    .pricingTable{
        margin-bottom: 20px;
    }
    .pricingTable > .pricingTable-header:after{
        border-left: 349px solid transparent;
    }
}
@media screen and (max-width: 480px){
    .pricingTable{
        overflow: hidden;
    }
    .pricingTable > .pricingTable-header:after {
        border-left: 459px solid rgba(0, 0, 0, 0);
    }
}